{% extends "base_generic.html" %}

{% block content %}
    <h1>Authors</h1>

    {% if author_list %}
    <ul>

      {% for author in author_list %}
      <li>
        <a href="{% url 'author-detail' author.id %}"> <b>{{ author.first_name }} {{author.last_name}}</b></a>
          ({{author.date_of_birth}} - {% if author.date_of_death %}{{author.date_of_death}}{% endif %})
      </li>
      {% endfor %}

    </ul>
    {% else %}
      <p>We have no authors, only programmers.</p>
    {% endif %}
{% endblock %}